<app-view-base header="Order List">
  <button mat-raised-button color="primary" routerLink="/new">
    + Create New Order
  </button>
  <table mat-table [dataSource]="orderList" class="mat-elevation-z1">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let order; let index = index">
        {{ index + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="items">
      <th mat-header-cell *matHeaderCellDef>Order Items</th>
      <td mat-cell *matCellDef="let order">
        <strong>Total: RM{{ order.total | number: "1.2-2" }}</strong>
        <ul>
          <li *ngFor="let item of order.items">
            {{ item.name }} - RM{{ item.price }}
          </li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let order">
        {{ order.createdDate | date: "medium" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let order">
        <app-status [orderUuid]="order.uuid"></app-status>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let order">
        <a [routerLink]="['/details/' + order.uuid]">See Details</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="cancel">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let order">
        <button
          *ngIf="order.status !== 'CANCELLED'"
          mat-raised-button
          color="warn"
          (click)="cancelOrder(order.uuid)"
        >
          Cancel
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div *ngIf="(orderListStatus | async) === 'SUBMITTING'" class="mat-spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</app-view-base>
