button.mat-primary {
  margin: 0 0 20px;
}
table {
  width: 100%;
  .mat-cell {
    padding-top: 10px;
  }
}
.mat-spinner-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px 0;
}